<div class="logincontainer">
<div class="form-signin">
<h2><%=I18n.t :edit %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= render "devise/shared/setup_alerts" %>

<%= f.text_field :username, :class => "input-block-level", :placeholder => (I18n.t :username)%>

  <%= f.email_field :email, :class => "input-block-level", :placeholder => (I18n.t :email_address)%>

  <%= f.text_field :business_code, :class => "input-block-level", :placeholder => (I18n.t :business_code) %>
  <label class="checkbox" style="font-size: 14px;color: rgb(85, 85, 85);"> 
  <%= f.check_box :controlling_unit %> <%= I18n.t :controlling_unit %>
  </label>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= I18n.t :currently_awaiting_confirmation_for%><%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.password_field :password, :autocomplete => "off", :class => "input-block-level", :placeholder => (I18n.t :password_unchanged) %>

  <%= f.password_field :password_confirmation, :class => "input-block-level", :placeholder => (I18n.t :confirm_password_unchanged) %>

  <%= f.password_field :current_password, :class => "input-block-level", :placeholder =>(I18n.t :current_password) %>

   <div class="row-fluid"><%= f.submit (I18n.t :update), :class=> "btn btn-large btn-primary span12" %>
   <input type=button class="btn btn-large btn-primary span12" value= '<%= I18n.t :cancel%>' onclick= "cancel_button()">
   </div>
<% end %>

<!--TODO: fix this cancel button and whole page really -->


<%= t '.unhappy'  %>
<p><%= button_to (t '.cancel_my'), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
<%= link_to (t '.back'), :back %>
</div>
</div>
