<div class="logincontainer" style="background-color: #f5f5f5">
<div class="form-signin">
<h2 class="form-signin-heading"><%= t :sign_up%></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :username, :class => "input-block-level", :placeholder => (t :username)%>

  <%= f.email_field :email, :class => "input-block-level", :placeholder => (t :email_address)%>

  <%= f.text_field :business_code, :class => "input-block-level", :placeholder => (t :buisness_code) %>

  <%= f.password_field :password, :class => "input-block-level", :placeholder => (t :password) %>

  <%= f.password_field :password_confirmation,:class => "input-block-level", :placeholder => (t :confirm_password) %>

	<div class="row-fluid">
       <%= f.submit (t :sign_up), :class=> "btn btn-large btn-primary span6"%>
       <input type=button class="btn btn-large btn-primary span6" value='<%= t :cancel %>' onclick= "window.location.href='../users/login'">
	</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>