<div>  <%= t '.what_to_put' %> 
<br/>

 <%= semantic_form_for @application, :url => settings_path do |f| %>
        <%= f.inputs do %>
          <%= f.input :company %>

          <%= f.input :curr_year, :label => "Current Year", :as => :select, :collection => @years, :prompt => true %>

          <%= f.input :init_year, :label => "Initial Year", :as => :select, :collection => @years, :prompt => true %>

          <%= f.input :language, :as => :select, :collection => @languages, :prompt => true %>

          <%= f.input :time_horizon, :as => :select, :collection => @time_horizon, :prompt => true %>

        <% end %>
    <br><%= f.action :submit, :label => "Save Setup" ,:button_html => { :class=> "btn btn-primary span4" }%>
    <% end %>
</div>
