<!DOCTYPE html> 
<!-- for now, just a simple login page  -->
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
</head>

    <body>
        <center>
            <div id="loginPage" class="screen">

                <center>
                    <%= form_tag login_path, :method => "post" do %>
                      Username: <%= text_field_tag(:username) %>
                      Password: <%= password_field_tag(:password) %>
                      Company: <%= collection_select :company, :name, Company.all, :id, :name, {:prompt=>true} %>
                      <!-- Look into auto-complete code (if too many companies) -->
                      <br>
                      <%= submit_tag("Login") %>
<!--                       <%= @msg %> -->
                    <% end %>
               </center>

            </div>
        </center>
    </body>

</html>

