<h2><%= t '.activity_list' %></h2>
 
<table border=7 cellpadding=7 cellspacing=7>
  <tr>
    <th><%= t '.activity_id' %></th>
    <th><%= t '.link_to_the' %></th>
  </tr>
 
<% @activities.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= link_to a.name, activity_path( :activity_id => a.id ) %></td>
  </tr>
<% end %>
</table>