<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#"><%= t '.generate_new' %></a>

		<div class="navbar-form pull-right">
			<ul class="nav">
				<div class="pull-right">
					<select id ="cu_review_form_select">
						<option value="<%= goals_path %>"><%= t '.goal' %></option>
						<option value="<%= indicators_path %>"><%= t '.indicator' %></option>
						<option value="<%= projects_path %>"><%= t '.project' %></option>
					</select>
					<a class="btn" onclick="cu_review_button()"> <%= t '.generate' %> </a>
				</div>
			</ul>
		</div>
	</div>
</div>
<%= render "setup_alerts" %>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u><%= t '.all_available' %></u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<!--The following are taken as is from: http://railscasts.com/episodes/228-sortable-table-columns-->
			<th><%= sortable "created_at", "Date Created" %></th>
			<th><%= sortable "lookup", "Form Type" %></th>
			<th><%= t '.form_name' %></th>
		</tr>
		<% if @forms.empty? %>
		<tr>
			<td><%= t '.ndash' %></td><td><%= t '.ndash_1' %></td><td><%= t '.ndash_2' %></td>
		</tr>
		<% end %>
		<% @forms.each do |forms| %>
		<tr>
			<td><%= forms.created_at.to_date %></td>
			<td><%= find_form_type(forms.lookup) %></td>
			<td><%= find_label(forms.lookup, forms.entry_id) %></td>
		</tr>
		<% end %>
	</table>
</div>