<h2>Activity</h2>

<body>
    <%= semantic_form_for @activity, :url => all_activity_path do |f| %>
        <%= f.inputs do %>
        <%= hidden_field_tag :entry_id, params[:entry_id] %>
        <%= hidden_field_tag :form_id, params[:form_id] %>

          <%= f.input :name, :input_html => { :value => @activity.name, :readonly => true }, :label => "Name of Activity" %>
          
          <%= f.input :short_name, :input_html => { :value => @activity.short_name, :readonly => true }, :label => "Short Name of Activity" %>

          <%= f.input :project_id, :input_html => { :value => @activity.project_id, :readonly => true }, :label => "Part of Project" %>
          
          <%= f.input :description, :input_html => { :value => @activity.description, :readonly => true }, :label => "Activity Description" %>
          
          <%= f.input :phase, :input_html => { :value => @activity.phase, :readonly => true }, :label => "Part of Phase" %>
          
          <%= f.input :startDate, :input_html => { :value => @activity.startDate, :readonly => true, :style => "width: 20%" }, :label => "Starting Date" %>
          
          <%= f.input :endDate, :input_html => { :value => @activity.endDate, :readonly => true, :style => "width: 20%" }, :label => "Ending Date" %>
          
          <%= f.input :team, :input_html => { :value => @activity.team, :readonly => true }, :label => "Team Member" %>
          
          <%= f.input :targetManp, :input_html => { :value => @activity.targetManp, :readonly => true }, :label => "Planned Employee Resources (days)" %>
          
          <%= f.input :targetCost, :input_html => { :value => @activity.targetCost, :readonly => true }, :label => "Planned External Costs (currency)" %>
          
          <%= f.input :notes, :input_html => { :value => @activity.notes, :readonly => true }, :label => "Notes" %>
          
          <%= f.input :actualManp, :input_html => { :value => @activity.actualManp, :readonly => true }, :label => "Actual Employee Resources (days)" %>
          
          <%= f.input :actualCost, :input_html => { :value => @activity.actualCost, :readonly => true }, :label => "Actual External Costs (currency)" %>
          
          <%= f.input :actualProg, :input_html => { :value => @activity.actualProg, :readonly => true }, :label => "Status of Activity" %>
          
          <%= f.input :statusNotes, :input_html => { :value => @activity.statusNotes, :readonly => true }, :label => "Notes on Status" %>

        <% end %>
    <% end %>
    <%= link_to "Back", :back %>
</body>