<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#"><%= t '.dimension_view' %></a>
		</ul>
	</div>
</div>
<style>
	input {
		width: 25em;
	}
	textarea {
		width: 50em;
	}
</style>

<%= render "setup_alerts" %>
<div class="well">
    <%= semantic_form_for @dimension, :url => all_dimension_path do |f| %>
        <%= f.inputs do %>
        <%= hidden_field_tag :entry_id, params[:entry_id] %>
        <%= hidden_field_tag :form_id, params[:form_id] %>
	<div class="row-fluid">
		<div class="span6">     
          <%= f.input :name, :input_html => { :value => @dimension.name, :readonly => true, :class => "span12" }, :label => "Name of Dimension" %>
		</div>
		<div class="span6">          
          <%= f.input :status, :input_html => { :value => @dimension.status, :readonly => true, :class => "span12" }, :label => "Current Status" %>
		</div>
	</div>          
    <% end %>
	<center>
		<div class="row-fluid">
			<input type=button class="btn btn-danger span4" value= "<%= I18n.t :back%>" onclick= "history.back()">
			</input>
		</div>
	</center>
    <% end %>
</div>
