<h2>Activity</h2>

<body>
	<%= semantic_form_for @activity, :url => all_activity_path do |f| %>
	<%= f.inputs do %>
	<%= hidden_field_tag :entry_id, params[:entry_id] %>
	<%= hidden_field_tag :form_id, params[:form_id] %>

	<div class="row-fluid">
		<div class="span6">
			<%= f.input :name, :input_html => { :value => @activity.name, :readonly => true, :class => "span12" }, :label => "Name of Activity" %>
		</div>
		<div class="span4">
			<%= f.input :short_name, :input_html => { :value => @activity.short_name, :readonly => true, :class => "span12" }, :label => "Short Name of Activity" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<%= f.input :description, :input_html => { :value => @activity.description, :readonly => true, :rows => 5, :class => "span12" }, :label => "Activity Description" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span4">
			<%= f.input :project_id, :input_html => { :value => @activity.project_id, :readonly => true, :class => "span12" }, :label => "Part of Project" %>
		</div>
		<div class="span4">
			<%= f.input :phase, :input_html => { :value => @activity.phase, :readonly => true, :class => "span12" }, :label => "Part of Phase" %>
		</div>
		<div class="span4">
			<%= f.input :actualProg, :input_html => { :value => @activity.actualProg, :readonly => true, :class => "span12" }, :label => "Status of Activity" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				<%= f.input :startDate, :input_html => { :value => 2015-08-16, :class => "span4", :disabled => true}, :label => "Starting Date" %>
			</div>
			<div class="span6">
				<%= f.input :endDate, :input_html => { :value => @activity.endDate,:class => "span4", :disabled => }, :label => "Ending Date" %>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<%= f.input :team, :input_html => { :value => @activity.team, :readonly => true, :rows => 5, :class => "span12" }, :label => "Team Member" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<div class="span6">
				<%= f.input :targetManp, :input_html => { :value => @activity.targetManp, :readonly => true, :class => "span12" }, :label => "Planned Employee Resources (days)" %>
			</div>
			<div class="span6">
				<%= f.input :targetCost, :input_html => { :value => @activity.targetCost, :readonly => true, :class => "span12" }, :label => "Planned External Costs (currency)" %>
			</div>
		</div>
		<div class="span6">
			<div class="span6">
				<%= f.input :actualManp, :input_html => { :value => @activity.actualManp, :readonly => true, :class => "span12" }, :label => "Actual Employee Resources (days)" %>
			</div>
			<div class="span6">
				<%= f.input :actualCost, :input_html => { :value => @activity.actualCost, :readonly => true, :class => "span12" }, :label => "Actual External Costs (currency)" %>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				<%= f.input :notes, :input_html => { :value => @activity.notes, :readonly => true, :rows => 5, :class => "span12" }, :label => "Notes" %>
			</div>
			<div class="span6">
				<%= f.input :statusNotes, :input_html => { :value => @activity.statusNotes, :readonly => true, :rows => 5, :class => "span12" }, :label => "Notes on Status" %>
			</div>
		</div>
	</div>

	<% end %>

	<center>
		<div class="row-fluid">
			<input type=button class="btn btn-danger span4" value= "<%= I18n.t :back%>" onclick= "history.back()">
			</input>
		</div>
	</center>

	<% end %>
</body>