<h2><%= t '.welcome_4', :user_username => (@user.username) %>! </h2>
<%= link_to (t '.input'), input_framework_path %><br>
<%= link_to (t '.create_users_1'), create_users_path %><br>
<%= link_to (t '.remove_users'), remove_users_path %><br>
<%= link_to (t '.cu_review_page'), cu_review_path %><br>
<%= link_to (t '.view_activity'), activity_list_path %><br>
<%= link_to (t '.view_all_data'), all_data_path %>
