<h2>Welcome Controller Unit <%= @user.username %>! </h2>
<%= link_to "Input Framework", input_framework_path %><br>
<%= link_to "Create Users", create_users_path %><br>
<%= link_to "Remove Users", remove_users_path %><br>
<%= link_to "CU Review Page", cu_review_path %> 

