<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#"><%= t '.generate_new' %></a>

		<div class="navbar-form pull-right">
			<ul class="nav">
				<div class="pull-right">
					<select id ="cu_review_form_select">
						<option value="<%= goals_path %>"><%= t '.goal_2' %></option>
						<option value="<%= indicators_path %>"><%= t '.indicator_3' %></option>
						<option value="<%= projects_path %>"><%= t '.project_2' %></option>
					</select>
					<a class="btn" onclick="cu_review_button()"> <%= t '.generate' %> </a>
				</div>
			</ul>
		</div>
	</div>
</div>
<h2><%= t '.hi_controlling_1', :user_username => (@user.username) %>! </h2>
<%= render "setup_alerts" %>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u><%= t '.forms_to' %></u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<th><%= t '.id_2' %></th>
			<th><%= t '.form_2' %></th>
		</tr>
		<% if @forms.empty? %>
		<tr>
			<td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
		</tr>
		<% end %>
		<% @forms.each do |forms| %>
		<tr>
			<td><%= forms.id %></td>
			<td><%= link_to find_label_cu(forms.lookup, forms.entry_id), find_path_cu(forms.lookup, forms.entry_id, forms.id) %></td>
		</tr>
		<% end %>
	</table>
</div>
