<%= render "setup_alerts" %>
<br />
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u><%= t '.forms_to' %></u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<!--The following are taken as is from: http://railscasts.com/episodes/228-sortable-table-columns-->
			<th><%= sortable "updated_at", "Date Received" %></th>
			<th><%= sortable "checked", "Checked by Provider" %></th>
			<th><%= sortable "submitted", "Ready for Review" %></th>
			<th><%= sortable "reviewed", "Already Reviewed" %></th>
			<th><%= sortable "lookup", "Form Type" %></th>
			<th><%= t '.form_name_1' %></th>
		</tr>
		<% if @forms.empty? %>
		<tr>
			<td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
			<td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
		</tr>
		<% end %>
		<% @forms.each do |forms| %>
		<tr>
			<td><%= forms.updated_at.to_date %></td>
			<td><%= find_truth_value(forms.checked) %></td>
			<td><%= find_truth_value(forms.submitted) %></td>
			<td><%= find_truth_value(forms.reviewed) %></td>
			<td><%= find_form_type(forms.lookup) %></td>
			<% if forms.checked and forms.submitted and !forms.reviewed %>
				<td><%= link_to find_label(forms.lookup, forms.entry_id), find_path_cu(forms.lookup, forms.entry_id, forms.id) %></td>
			<% else %>
				<td><%= find_label(forms.lookup, forms.entry_id) %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>