<div class="navbar">
  <div class="navbar-inner"><%= tabs %></div></div>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
<h4><u><%= t '.indicators' %></u></h4>
<table class="table table-hover table-bordered" style="background-color:white;">
  <tr>
    <th><%= t '.indicators_1' %></th>
    <th><%= t '.owner_1' %></th>
    <th><%= t '.status_1' %></th>
  </tr>
 <% if @indicators.empty? %> 
   <tr><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
     </tr>
   <% end %>  
<% @indicators.each do |indicator| %>
  <tr>
  <td> <%= link_to indicator.short_name , indicator_check_path(indicator.id) %></td>
  <td><%= indicator.user_id %> </td>
  <td><%= indicator.status %> </td>

  </tr>
<% end %>
</table>
</div>
