<% content_for :context_menu do %>
<li><a href="<%= url_for(:action => 'goal_check', :controller => 'controller_unit') %>">Goal</a></li>
<li><a href="<%= url_for(:action => 'indicator_check', :controller => 'controller_unit') %>">Indicator</a></li>
<li><a href="<%= url_for(:action => 'project_check', :controller => 'controller_unit') %>">Project</a></li>
<li><a href="<%= url_for(:action => 'activity_check', :controller => 'controller_unit') %>">Activity</a></li>
<% end %>

<style>
input {
    width:25em;
}
textarea {
    width:50em;
}
</style>

<h2>Project Form</h2>

<body>
    <%= flash[:notice] %>
    <%= flash[:error] %><br>

    <%= semantic_form_for @project, :url => project_check_path do |f| %>
        <%= f.inputs do %>
        <%= hidden_field_tag :entry_id, params[:entry_id] %>
        <%= hidden_field_tag :form_id, params[:form_id] %>

          <%= f.input :name, :input_html => { :value => @current_project.name }, :required => true, :label => "Name of Project" %>
          
          <%= f.input :short_name, :input_html => { :value => @current_project.short_name }, :required => true, :label => "Short Name of Project" %>

          <%= f.input :indicator_id, :input_html => { :value => @current_project.indicator_id }, :required => true, :label => "Associated Indicator" %>

          <%= f.input :head_id, :input_html => { :value => @current_project.head_id }, :required => true, :label => "Project Manager" %>

          <%= f.input :steer_id, :input_html => { :value => @current_project.steer_id }, :required => true, :label => "Steering Committee" %>
          
          <%= f.input :description, :as => :text, :input_html => { :value => @current_project.description, :rows => 5, :cols => 10 }, :required => true, :label => "Project Description" %>
          
          <%= f.input :team, :as => :text, :input_html => { :value => @current_project.team, :rows => 5, :cols => 10 }, :required => true, :label => "Team Member" %>
          
          <%= f.input :startDate, :as => :date_select, :input_html => { :value => @current_project.startDate, :style => "width: 15%" }, :required => true, :label => "Starting Date" %>
          
          <%= f.input :endDate, :as => :date_select, :input_html => { :value => @current_project.endDate, :style => "width: 15%" }, :required => true, :label => "Ending Date" %>
          
          <%= f.input :duration, :input_html => { :value => @current_project.duration }, :required => true, :label => "Project Duration (months)" %>
          
          <%= f.input :target_manp, :input_html => { :value => @current_project.target_manp }, :required => true, :label => "Planned Employee Resources (days)" %>
          
          <%= f.input :target_cost, :input_html => { :value => @current_project.target_cost }, :required => true, :label => "Planned External Costs (currency)" %>
          
          <%= f.input :inplan, :as => :boolean, :checked_value => true, :unchecked_value => false, :input_html => { :value => @current_project.inplan }, :required => true, :label => "Included in Financial Plan" %>
          
          <%= f.input :compensation, :as => :boolean, :checked_value => true, :unchecked_value => false, :input_html => {:value => @current_project.compensation }, :required => true, :label => "Compensation Possible" %>
          
          <%= f.input :notes, :as => :text, :input_html => { :value => @current_project.notes, :rows => 5, :cols => 10 }, :label => "Notes" %>
          
          <%= f.input :actual_manp, :input_html => { :value => @current_project.actual_manp }, :required => true, :label => "Actual Employee Resources (days)" %>
          
          <%= f.input :actual_cost, :input_html => { :value => @current_project.actual_cost }, :required => true, :label => "Actual External Costs (currency)" %>
          
          <%= f.input :status_prog, :input_html => { :value => @current_project.status_prog }, :required => true, :label => "Current Status by Progress" %>
          
          <%= f.input :status_ms, :input_html => { :value => @current_project.status_ms }, :required => true, :label => "Current Status by Milestone" %>
          
          <%= f.input :status_manp, :input_html => { :value => @current_project.status_manp }, :required => true, :label => "Current Status by Manpower Use" %>
          
          <%= f.input :status_cost, :input_html => { :value => @current_project.status_cost }, :required => true, :label => "Current Status by Cost" %>
          
          <%= f.input :status_global, :input_html => { :value => @current_project.status_global }, :required => true, :label => "Current Status Overall" %>
          
          <%= f.input :status_notes, :as => :text, :input_html => { :value => @current_project.status_notes, :rows => 5, :cols => 10 }, :label => "Notes to Current Status" %>

<table border=7 cellpadding=7 cellspacing=7>
  <tr>
  	<th>Activity Name</th>
  	<th>Current Overall Progress</th>
  </tr>
  
  <% @activities.each do |a| %>
    <tr>
      <td><%= link_to a.name, all_activity_path(:activity_id => a.id) %></td>
      <td><%= progress_bar(33, :color => 'blue', :rounded => true) %></td>
    </tr>
  <% end %>
</table>
<br />

        <% end %>
    <%= f.action :submit, :label => "Confirm Project" %>
    <% end %>
</body>