<body>
    <%= tabs %>
    <%= flash[:notice] %>
    <%= flash[:error] %><br>

    <%= semantic_form_for @activity do |f| %>
        <%= f.inputs do %>
        
          <%= f.input :name, :required => true, :as => :string, :label => "Name of Activity" %>

          <%= f.input :project_id, :as => :select, :collection => Project.all, :required => true, :label => "Part of Project" %>
          
          <%= f.input :description, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Activity Description" %>
          
          <%= f.input :phase, :as => :select, :collection => ["1-Concept completed", "2-Prerequisites fulfilled", "3-Implementation running", "4-Project effective"], :required => true, :label => "Part of Phase" %>
          
          <%= f.input :startDate, :as => :date_select, :required => true, :label => "Starting Date" %>
          
          <%= f.input :endDate, :as => :date_select, :required => true, :label => "Ending Date" %>
          
          <%= f.input :users, :as => :check_boxes, :label => "Activity Team" %>
          
          <%= f.input :targetManp, :as => :number, :required => true, :label => "Planned Employee Resources (days)" %>
          
          <%= f.input :targetCost, :as => :number, :required => true, :label => "Planned External Costs (currency)" %>
          
          <%= f.input :notes, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Notes" %>
          
          <%= f.input :actualManp, :as => :number, :required => true, :label => "Actual Employee Resources (days)" %>
          
          <%= f.input :actualCost, :as => :number, :required => true, :label => "Actual External Costs (currency)" %>
          
          <%= f.input :actualProg, :as => :number, :required => true, :label => "Status of Activity" %>
          
          <%= f.input :statusNotes, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Notes on Status" %>
          
        <% end %>
    <%= f.action :submit, :label => "Save Activity" %>
    <% end %>
</body>
