<body>
    <%= tabs %>
    <%= flash[:notice] %>
    <%= flash[:error] %><br>

    <%= semantic_form_for @goal do |f| %>
        <%= f.inputs do %>
          <%= f.input :name %>

          <%= f.input :parent, :as => :select, :collection => ["Financial", "Customer", "Internal Process", "Learning & Growth"], :prompt => true %>

          <%= f.input :owner, :as => :select, :collection => User.all, :prompt => true %>

          <%= f.input :notes, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false %>
        <% end %>
    <%= f.action :submit, :label => "Save Goal" %>
    <% end %>
</body>
