<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">Generating New Goal</a>
		</ul>
	</div>
</div>

<%= render "setup_alerts" %>
<div class="well">
	<%= semantic_form_for @goal, :html => { :class => "form-stacked"} do |f|%>
	<%= f.inputs do %>
	<div class="row-fluid">
		<div class="span8">
			<%= f.input :name, :required => true, :as => :string, :label => "Name of Goal",:input_html => { :class => "span12" }%>
		</div>
		<div class="span4">
			<%= f.input :short_name, :required => true, :label => "Short Name of Goal", :input_html => { :class => "span12" } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :dimension_id, :as => :select, :collection => Dimension.all, :required => true, :label => "Associated Dimension",:input_html => { :class => "span12" } %>
		</div>
		<div class="span6">
			<%= f.input :user_id, :as => :select, :collection => User.all, :required => true, :label => "Responsible",:input_html => { :class => "span12" } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :need, :as => :text, :input_html => { :rows => 5, :class=> "span12" }, :required => false, :label => "Call for Action" %>
		</div>
		<div class="span6">
			<%= f.input :justification, :as => :text, :input_html => { :rows => 5, :class=> "span12" }, :required => false, :label => "Justification of Specific Goal" %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :focus, :as => :text, :input_html => { :rows => 5, :class=> "span12"}, :required => false, :label => "Strategic Approach" %>
		</div>
		<div class="span6">
			<%= f.input :notes, :as => :text, :input_html => { :rows => 5, :class=> "span12"}, :required => false, :label => "Notes" %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :prereq, :as => :select, :collection => Goal.select('name'), :required => false, :label => "Prerequisites",:input_html => { :class => "span12" } %>
		</div>
		<div class="span6">
			<%= f.input :status, :required => true, :as => :number, :label => "Current Status (%)", :input_html => { :class => "span12" }%>
		</div>
	</div>

	<% end %>
	<center>
		<div class="row-fluid">
			<%= f.action :submit, :label => "Submit Goal to Provider Responsible",:button_html => { :class=> "btn btn-primary span4" }%>
			<input type=button class="btn btn-danger span4" value= "<%= I18n.t :cancel%>" onclick= "history.back()">
			</input>
		</div>
	</center>
	<% end %>
</div>