<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Generating New Indicator</a>
</ul>
</div>
</div>

 <%= render "setup_alerts" %>

<div class="well">

    <%= semantic_form_for @indicator do |f| %>
        <%= f.inputs do %>
<div class="row-fluid">
<div class="span6">         
          <%= f.input :name, :required => true, :as => :string, :label => "Name of Indicator",:input_html => { :class => "span12" }  %>
</div><div class="span4">                   
          <%= f.input :short_name, :as => :string, :label => "Short Name of Indicator",:input_html => { :class => "span12" }  %>
</div></div>
<div class="row-fluid"><div class="span4">
          <%= f.input :goal_id, :as => :select, :collection => Goal.all, :required => true, :label => "Associated Goal",:input_html => { :class => "span12" }  %>
</div>
<div class="span4"> 
          <%= f.input :user_id, :as => :select, :collection => User.all, :required => true, :label => "Responsible",:input_html => { :class => "span12" }  %>
 </div>         
 </div> <div class="row-fluid"><div class="span12">        
          <%= f.input :description, :as => :text, :input_html => { :rows => 5,  :class => "span12"}, :required => false, :label => "Description of Indicator" %>
  </div>  </div> 
 <div class="row-fluid"><div class="span4">  
          <%= f.input :source, :required => true, :as => :string, :label => "Source",:input_html => { :class => "span12" }  %>
</div><div class="span4">            
          <%= f.input :unit, :required => true, :as => :string, :label => "Unit",:input_html => { :class => "span12" }  %>
</div><div class="span4">            
          <%= f.input :freq, :required => true, :as => :select, :collection => ["M", "Q", "HY", "Y"], :label => "Frequency of Acquisition" ,:input_html => { :class => "span12" } %>
 </div></div> 
 <div class="row-fluid"><div class="span3"> 
          <%= f.input :indicator_type, :required => true, :as => :select, :collection => ["Average", "Cummulative"], :label => "Indicator Type",:input_html => { :class => "span12" }  %>
 </div><div class="span3">         
          <%= f.input :dir, :required => true, :as => :select, :collection => ["More is Better", "Less is Better"], :label => "Target Direction",:input_html => { :class => "span12" }  %>
  </div><div class="span3">        
          <%= f.input :actual, :required => true, :as => :number, :label => "Actual Values",:input_html => { :class => "span12" }  %>
   </div><div class="span3">       
          <%= f.input :target, :required => true, :as => :number, :label => "Target Values",:input_html => { :class => "span12" }  %>
</div></div>
<div class="row-fluid"><div class="span12">
          <%= f.input :notes, :as => :text, :input_html => { :rows => 5,  :class => "span12" }, :required => false, :label => "Notes" %>
   </div></div>  <div class="row-fluid"><div class="span4">     
          <%= f.input :diff, :required => true, :as => :number, :label => "Difference",:input_html => { :class => "span12" }  %>
     </div><div class="span4">        
          <%= f.input :status, :required => true, :as => :number, :label => "Current Status",:input_html => { :class => "span12" }  %>
    </div></div>     <div class="row-fluid"><div class="span12"> 
          <%= f.input :status_notes, :as => :text, :input_html => { :rows => 5, :class => "span12" }, :required => false, :label => "Notes to Current Status" %>
           </div></div>  
        <% end %>
    <center><div class="row-fluid">
    <%= f.action :submit, :label => "Submit Indicator to Responsible",:button_html => { :class=> "btn btn-primary span4" }%>
    <input type=button class="btn btn-danger span4" value= "<%= I18n.t :cancel%>" onclick= "history.back()"> </input></div></center>
    <% end %>
 </div>

