<body>
    <div class="navbar snb">
      <div class="navbar-inner ni">
        <div class="container">
          <ul class="nav isnb">
            <li><a href=<%= url_for(:action => 'set_goal', :controller => 'controller_unit') %>>Goals</a></li>
            <li><a href=<%= url_for(:action => 'set_indicator', :controller => 'controller_unit') %>>Indicators</a></li>
            <li><a href=<%= url_for(:action => 'set_project', :controller => 'controller_unit') %>>Projects</a></li>
            <li><a href=<%= url_for(:action => 'set_activity', :controller => 'controller_unit') %>>Activities</a></li>
            <li><a href=<%= url_for(:action => 'setup_system', :controller => 'controller_unit') %>>Setup System</a></li>

          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
    <%= flash[:notice] %>
    <%= flash[:error] %><br>

    <%= semantic_form_for @indicator do |f| %>
        <%= f.inputs do %>
        
          <%= f.input :name, :required => true, :as => :string, :label => "Name of Indicator" %>
          
          <%= f.input :short_name, :as => :string, :label => "Short Name of Indicator" %>

          <%= f.input :goal_id, :as => :select, :collection => Goal.all, :required => true, :label => "Associated Goal" %>

          <%= f.input :user_id, :as => :select, :collection => User.all, :required => true, :label => "Responsible" %>
          
          <%= f.input :description, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Description of Indicator" %>
          
          <%= f.input :source, :required => true, :as => :string, :label => "Source" %>
          
          <%= f.input :unit, :required => true, :as => :string, :label => "Unit" %>
          
          <%= f.input :freq, :required => true, :as => :select, :collection => ["M", "Q", "HY", "Y"], :label => "Frequency of Acquisition" %>
          
          <%= f.input :indicator_type, :required => true, :as => :select, :collection => ["Average", "Cummulative"], :label => "Indicator Type" %>
          
          <%= f.input :dir, :required => true, :as => :select, :collection => ["More is Better", "Less is Better"], :label => "Target Direction" %>
          
          <%= f.input :actual, :required => true, :as => :number, :label => "Actual Values" %>
          
          <%= f.input :target, :required => true, :as => :number, :label => "Target Values" %>

          <%= f.input :notes, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Notes" %>
          
          <%= f.input :diff, :required => true, :as => :number, :label => "Difference" %>
          
          <%= f.input :status, :required => true, :as => :number, :label => "Current Status" %>
          
          <%= f.input :status_notes, :as => :text, :input_html => { :rows => 5, :cols => 10 }, :required => false, :label => "Notes to Current Status" %>
          
        <% end %>
    <%= f.action :submit, :label => "Save Indicator" %>
    <% end %>
</body>

