<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"><%= t '.system_setup' %></a>
</ul>
</div>
</div>
<div class="well">
<center>
 <%= render "setup_alerts" %>


    <%= semantic_form_for @application do |f| %>
        <%= f.inputs do %>
          <%= f.input :company %>

          <%= f.input :curr_year, :label => (I18n.t :current_year), :as => :select, :collection => @years, :prompt => true %>

          <%= f.input :init_year, :label => (I18n.t :initial_year), :as => :select, :collection => @years, :prompt => true %>

        <% end %>
    <br><%= f.action :submit, :label => (I18n.t :save_setup) ,:button_html => { :class=> "btn btn-primary span4" }%>
    <% end %>
    </center>
</div>
