<h2><%= t '.activity_2' %></h2>

<body>
    <%= semantic_form_for @activity do |f| %>
        <%= f.inputs do %>

          <%= f.input :name, :input_html => { :value => @activity.name, :readonly => true }, :label => (I18n.t :name_of_activity) %>
          
          <%= f.input :short_name, :input_html => { :value => @activity.short_name, :readonly => true }, :label => (I18n.t :short_name_of_activity) %>

          <%= f.input :project_id, :input_html => { :value => @activity.project_id, :readonly => true }, :label => (I18n.t :part_of_project) %>
          
          <%= f.input :description, :input_html => { :value => @activity.description, :readonly => true }, :label => (I18n.t :activity_description) %>
          
          <%= f.input :phase, :input_html => { :value => @activity.phase, :readonly => true }, :label => (I18n.t :part_of_phase) %>
          
          <%= f.input :startDate, :input_html => { :value => @activity.startDate, :readonly => true, :style => "width: 20%" }, :label => (I18n.t :starting_date) %>
          
          <%= f.input :endDate, :input_html => { :value => @activity.endDate, :readonly => true, :style => "width: 20%" }, :label => (I18n.t :ending_date) %>
          
          <%= f.input :team, :input_html => { :value => @activity.team, :readonly => true }, :label => (I18n.t :team_member) %>
          
          <%= f.input :targetManp, :input_html => { :value => @activity.targetManp, :readonly => true }, :label => (I18n.t :planned_employee_resources_(days)) %>
          
          <%= f.input :targetCost, :input_html => { :value => @activity.targetCost, :readonly => true }, :label => (I18n.t :planned_external_costs_(currency)) %>
          
          <%= f.input :notes, :input_html => { :value => @activity.notes, :readonly => true }, :label => (I18n.t :notes) %>
          
          <%= f.input :actualManp, :input_html => { :value => @activity.actualManp, :readonly => true }, :label => (I18n.t :actual_employee_resources_(days)) %>
          
          <%= f.input :actualCost, :input_html => { :value => @activity.actualCost, :readonly => true }, :label => (I18n.t :actual_external_costs_(currency)) %>
          
          <%= f.input :actualProg, :input_html => { :value => @activity.actualProg, :readonly => true }, :label => (I18n.t :status_of_activity) %>
          
          <%= f.input :statusNotes, :input_html => { :value => @activity.statusNotes, :readonly => true }, :label => (I18n.t :notes_on_status) %>

        <% end %>
    <% end %>
    <%= link_to (t '.back_1'), :back %>
</body>