      <% if flash[:notice] or notice %>
          <% if notice == flash[:notice]%>
              <div class="alert" >
              <button type="button" class="close" data-dismiss="alert"><%= t 'times' %></button>
              <%= flash[:notice] %>
              </div>
          <% else %>
            <div class="notice alert">
			<button type="button" class="close" data-dismiss="alert"><%= t 'times' %></button>
			<%= flash[:notice] %>
            <%= notice %>
			</div>
          <% end %>
      <% end %>
      <div>duurrr 
                  <div class="notice alert">
			<button type="button" class="close" data-dismiss="alert"><%= t 'times' %></button>
			<%= flash[:notice] %>
            <%= notice %>
			</div>
            durrrr</div>
      <% if flash[:error] %>
      <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert"><%= t 'times' %></button>
      <%= flash[:error] %>
      </div>
      <% end %>
	  <% if alert %>
	 <div class="alert">
     alerdur
			<button type="button" class="close" data-dismiss="alert"><%= t 'times' %></button>
			<%= alert %>
			</div>
			<% end %>
