<h2><%= t '.hi_provider_1', :user_username => (@user.username) %>! </h2>
<%= render "setup_alerts" %>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
    <h4><u><%= t '.update' %></u></h4>
    <table class="table table-hover table-bordered" style="background-color:white;">
        <tr>
            <th><%= sortable "updated_at", "Date Last Updated" %></th>
            <th><%= sortable "last_reminder", "Last Reminder" %></th>
            <th><%= t '.form_name_4' %></th>
        </tr>
        <% if @indicator_forms.empty? %>
        <tr>
            <td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
        </tr>
        <% end %>
        <% @indicator_forms.each do |form| %>
        <tr>
            <td><%= form.updated_at.to_date %></td>
            <td><%= form.last_reminder %></td>
            <td><%= link_to find_label(form.lookup, form.entry_id), find_update_path(form.lookup, form.entry_id, form.id) %></td>
        </tr>
        <% end %>
    </table>
</div>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
    <h4><u><%= t '.saved_forms_1' %></u></h4>
    <table class="table table-hover table-bordered" style="background-color:white;">
        <tr>
            <th><%= sortable "updated_at", "Date Last Updated" %></th>
            <th><%= sortable "last_reminder", "Last Reminder" %></th>
            <th><%= t '.form_name_5' %></th>
        </tr>
        <% if @proj_forms.empty? %>
        <tr>
            <td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
        </tr>
        <% end %>
        <% @proj_forms.each do |form| %>
        <tr>
            <td><%= form.created_at.to_date %></td>
            <td><%= form.last_reminder %></td>
            <td><%= link_to find_label(form.lookup, form.entry_id), find_update_path(form.lookup, form.entry_id, form.id) %></td>
        </tr>
        <% end %>
    </table>
</div>