<h2><%= t '.hi_provider', :user_username => (@user.username) %>! </h2>
<%= render "setup_alerts" %>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u><%= t '.unchecked' %></u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<th><%= t '.id' %></th>
			<th><%= t '.form' %></th>
			<th><%= t '.due_date' %></th>
			<th><%= t '.recieved_date' %></th>
		</tr>
		<% if @forms_unchecked.empty? %>
		<tr>
			<td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
		</tr>
		<% end %>
		<% @forms_unchecked.each do |forms| %>
		<tr>
			<td><%= forms.id %></td>
			<td><%= link_to find_label(forms.lookup, forms.entry_id), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
			<td><%= forms.last_reminder %></td>
			<td><%= t 'ndash' %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u><%= t '.saved_forms' %></u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<th><%= t '.id_1' %></th>
			<th><%= t '.form_1' %></th>
			<th><%= t '.due_date_1' %></th>
			<th><%= t '.recieved_date_1' %></th>
		</tr>
		<% if @forms_saved.empty? %>
		<tr>
			<td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td><td><%= t 'ndash' %></td>
		</tr>
		<% end %>
		<% @forms_saved.each do |forms| %>
		<tr>
			<td><%= forms.id %></td>
			<td><%= link_to find_label(forms.lookup, forms.entry_id), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
			<td><%= forms.last_reminder %></td>
			<td><%= t 'ndash' %></td>
		</tr>
		<% end %>
	</table>
</div>
