<h2>Hi Provider, <%= @user.username %>! </h2>
<%= render "setup_alerts" %>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u>Unchecked Forms</u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<th><%= sortable "created_at", "Date Received" %></th>
			<th><%= sortable "last_reminder", "Last Reminder" %></th>
			<th><%= sortable "lookup", "Form Type" %></th>
			<th>Form Name</th>
		</tr>
		<% if @forms_unchecked.empty? %>
		<tr>
			<td>&ndash;</td><td>&ndash;</td><td>&ndash;</td><td>&ndash;</td>
		</tr>
		<% end %>
		<% @forms_unchecked.each do |forms| %>
		<tr>
			<td><%= forms.created_at.to_date %></td>
			<td><%= forms.last_reminder %></td>
			<td><%= find_form_type(forms.lookup) %></td>
			<td><%= link_to find_label(forms.lookup, forms.entry_id), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="well" style="margin-top:0px; padding:0px 10px 0px 10px;">
	<h4><u>Saved Forms</u></h4>
	<table class="table table-hover table-bordered" style="background-color:white;">
		<tr>
			<th><%= sortable "created_at", "Date Received" %></th>
			<th><%= sortable "last_reminder", "Last Reminder" %></th>
			<th><%= sortable "lookup", "Form Type" %></th>
			<th>Form Name</th>
		</tr>
		<% if @forms_saved.empty? %>
		<tr>
			<td>&ndash;</td><td>&ndash;</td><td>&ndash;</td><td>&ndash;</td>
		</tr>
		<% end %>
		<% @forms_saved.each do |forms| %>
		<tr>
			<td><%= forms.created_at.to_date %></td>
			<td><%= forms.last_reminder %></td>
			<td><%= find_form_type(forms.lookup) %></td>
			<td><%= link_to find_label(forms.lookup, forms.entry_id), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
		</tr>
		<% end %>
	</table>
</div>