<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">Project Form</a>
		</ul>
	</div>
</div>
<style>
	input {
		width: 25em;
	}
	textarea {
		width: 50em;
	}
</style>

<%= render "setup_alerts" %>
<div class="well">
	<%= semantic_form_for @project, :url => project_define_path do |f| %>
	<%= f.inputs do %>
	<%= hidden_field_tag :entry_id, params[:entry_id] %>
	<%= hidden_field_tag :form_id, params[:form_id] %>
	<div class="row-fluid">
		<div class="span8">
			<%= f.input :name, :input_html => { :value => @current_project.name, :disabled => true, :class => "span12" }, :label => "Name of Project" %>
		</div>
		<div class="span4">
			<%= f.input :short_name, :input_html => { :value => @current_project.short_name, :disabled => true, :class => "span12" }, :label => "Short Name of Project" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span4">
			<%= f.input :indicator_id, :as => :select, :collection => Indicator.all, :required => true, :selected => @current_project.indicator_id, :input_html => { :disabled => true, :class => "span12" }, :label => "Associated Indicator" %>
		</div>
		<div class="span4">
			<%= f.input :head_id, :as => :select, :collection => User.all, :required => true, :selected => @current_project.head_id, :input_html => { :disabled => true, :class => "span12" }, :label => "Project Manager" %>
		</div>
		<div class="span4">
			<%= f.input :steer_id, :as => :select, :collection => User.all, :required => true, :selected => @current_project.steer_id, :input_html => { :disabled => true, :class => "span12" }, :label => "Steering Committee" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<%= f.input :description, :as => :text, :input_html => { :value => @current_project.description, :rows => 5, :class => "span12" }, :required => true, :label => "Project Description" %>
		</div>
		<div class="span6">
			<%= f.input :team, :as => :text, :input_html => { :value => @current_project.team, :rows => 5, :class => "span12" }, :required => true, :label => "Team Member" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				<%= f.input :startDate, :selected => @current_project.startDate, :input_html => { :class => "span4", :disabled => true}, :label => "Starting Date" %>
			</div>
			<div class="span6">
				<%= f.input :endDate, :input_html => { :value => @current_project.endDate,:class => "span4", :disabled => true}, :label => "Ending Date" %>
			</div>
		</div>
	</div>


	<div class="row-fluid">
		<div class="span6">
			<div class="span6">
				<%= f.input :inplan, :input_html => { :checked => @current_project.inplan, :disabled => true }, :as => :boolean, :checked_value => true, :unchecked_value => false, :label => "Included in Financial Plan" %>
			</div>
			<div class="span6">
				<%= f.input :compensation, :input_html => { :checked => @current_project.compensation, :disabled => true }, :as => :boolean, :checked_value => true, :unchecked_value => false, :label => "Compensation Possible" %>
			</div>
		</div>
		<div class="span6">
			<%= f.input :notes, :as => :text, :input_html => { :value => @current_project.notes, :rows => 5, :class => "span12" }, :required => true, :label => "Notes" %>

		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			<%= f.input :duration, :input_html => { :value => @current_project.duration, :readonly => true, :class => "span12" }, :label => "Project Duration (months)" %>
		</div>
		<div class="span2">
			<%= f.input :target_manp, :input_html => { :value => @current_project.target_manp, :readonly => true, :class => "span12" }, :label => "Planned Employee Resources (days)" %>
		</div>
		<div class="span2">
			<%= f.input :target_cost, :input_html => { :value => @current_project.target_cost, :readonly => true, :class => "span12" }, :label => "Planned External Costs (currency)" %>
		</div>
		<div class="span2">
			<%= f.input :actual_manp, :input_html => { :value => @current_project.actual_manp, :readonly => true, :class => "span12" }, :label => "Actual Employee Resources (days)" %>
		</div>
		<div class="span2">
			<%= f.input :actual_cost, :input_html => { :value => @current_project.actual_cost, :readonly => true, :class => "span12" }, :label => "Actual External Costs (currency)" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			<%= f.input :status_prog, :input_html => { :value => @current_project.status_prog, :readonly => true, :class => "span12" }, :label => "Current Status by Progress" %>
		</div>
		<div class="span2">
			<%= f.input :status_ms, :input_html => { :value => @current_project.status_ms, :readonly => true, :class => "span12" }, :label => "Current Status by Milestone" %>
		</div>
		<div class="span2">
			<%= f.input :status_manp, :input_html => { :value => @current_project.status_manp, :readonly => true, :class => "span12" }, :label => "Current Status by Manpower Use" %>
		</div>
		<div class="span2">
			<%= f.input :status_cost, :input_html => { :value => @current_project.status_cost, :readonly => true, :class => "span12" }, :label => "Current Status by Cost" %>
		</div>
		<div class="span2">
			<%= f.input :status_global, :input_html => { :value => @current_project.status_global, :readonly => true, :class => "span12" }, :label => "Current Status Overall" %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<%= f.input :status_notes, :as => :text, :input_html => { :value => @current_project.status_notes, :rows => 5 }, :required => true, :label => "Notes to Current Status" %>
		</div>
	</div>
	
	<table class="table table-hover table-bordered">
		<tr>
			<th>Activity Name</th>
			<th>Current Overall Progress</th>
		</tr>

		<% @activities.each do |a| %>
		<tr>
			<td valign="top"><%= link_to a.name, all_activity_path(:activity_id => a.id) %></td>
			<td>
			<div class="progress">
				<div class="bar" style="width: 60%;"></div>
			</div></td>
		</tr>
		<% end %>
		<tr class="info">
			<td><%= link_to "Create New Activity", activities_path(:project_id => @current_project.id) %></td>
			<td></td>
		</tr>
	</table>
	<br />

	<% end %>

	<center>
		<div class="row-fluid">
			<%= f.action :submit, :label => "Submit Project",:button_html => { :class=> "btn btn-primary span4" }%>
			<%= f.action :submit, :label => "Save Project",:button_html => { :class=> "btn btn-primary span4" }%>
		</div>
	</center>

	<% end %>
</div>