<h2>Hi Provider, <%= @user.username %>! </h2>
<h2>Please complete the following forms.</h2>

<%= flash[:notice] %><%= flash[:error] %><br>
 
<table border=7 cellpadding=7 cellspacing=7>
  <tr>
    <th>Form ID</th>
    <th>Link to the form</th>
  </tr>
 
<% @forms.each do |forms| %>
  <tr>
    <td><%= forms.id %></td>
    <td><%= link_to find_label(forms.lookup), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
  </tr>
<% end %>
</table>