<% content_for :context_menu do %>
<li><a href="<%= url_for(:action => 'goal_define', :controller => 'provider') %>">Goal</a></li>
<li><a href="<%= url_for(:action => 'indicator_define', :controller => 'provider') %>">Indicator</a></li>
<li><a href="<%= url_for(:action => 'activity_define', :controller => 'provider') %>">Activity</a></li>
<% end %>

<style>
input {
	width:25em;
}
textarea {
	width:50em;
}
</style>

<h2>Hi Provider, <%= @user.username %>! </h2>
<h2>Please complete the following forms.</h2>
 
<table border=7 cellpadding=7 cellspacing=7>
  <tr>
    <th>Form ID</th>
    <th>Link to the form</th>
  </tr>
 
<% @forms.each do |forms| %>
  <tr>
    <td><%= forms.id %></td>
    <td><%= link_to find_label(forms.lookup), find_path(forms.lookup, forms.entry_id, forms.id) %></td>
  </tr>
<% end %>
</table>