 <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><%= t '.navigation' %></li>
              <li class="active"><a href="/home/index"><%= t '.home' %></a></li>
              <li><a href="/admin/login"><%= t '.admin_1' %></a></li>
              <li><a href="#"><%= t '.new_system' %></a></li>
              <li><a href="#"><%= t '.yearly_review' %></a></li>
              <li><a href="#"><%= t '.quality_check' %></a></li>
              <li><a href="#"><%= t '.monthly_report' %></a></li>
              <li><a href="#"><%= t '.quarterly' %></a></li>
              <li class="nav-header"><%= t '.context_menu' %></li>
              <%= yield :context_menu %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->